*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

header{
    background-color: black;
    color: rgb(255, 255, 255);
    display:flex;
}

.imagem-logo {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

.lista1{
    font-size: 20px;
    display: inline-flex;
    margin: 0 0 0 200px;  
}

.imagem-matII{
    width: 20%;
    height: 20%;
    margin: 0 0 0 1079px;
}

.turma2B{
    background-color: rgb(230, 9, 9);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.turma3A{
    background-color: rgb(6, 153, 3);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.imagem-mat3A{
    width: 20%;
    height: 20%;
    margin: 0 0 0 1079px;
}

.imagem-mat3B{
    width: 20%;
    height: 20%;
    margin: 0 0 0 1079px;
}

.turma3B{
    background-color: rgb(31, 3, 153);
    color: rgb(255, 255, 255);
    font-size: 20px;
}